.app {
    background-color: #fafafa;
    height: 100%;
}

.app__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 15px 20px 12px 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.app__headerImage {
    object-fit: contain;
}

.app__signup {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.makeStyles-paper-1 {
    border: none !important;
    outline: none !important;
}

.app__signup img {
    margin: 10px 0;
}

.app__signup button {
    margin: 25px 0 5px 0;
    background-color: #fafafa;
    border: 1px solid lightgray;
}

.app__loginContainer>button:last-child {
    background-color: #fafafa;
    border: 1px solid lightgray;
}

.app__logoutContainer>button {
    background-color: #fafafa;
    border: 1px solid lightgray;
}

.app__posts {
    margin-bottom: 80px;
    
}

@media (max-width:465px) {
    .makeStyles-paper-1 {
        width: 90% !important;

    }
}