.app {
    background-color: #fafafa;
    height: 100vh;
}

.app__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 15px 20px 12px 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.app__headerImage {
    object-fit: contain;
}

.app__signup {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.app__posts {}